<div class="post-vote vote" role="group">
                {{#with post}}
                  {{#vote 'up' role='radio' class='vote-up' selected_class='vote-voted'}}
                  <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M7.6 2.2375L8 2.77083L8.4 2.2375C8.74639 1.77565 9.19556 1.40078 9.71193 1.1426C10.2283 0.884415 10.7977 0.75 11.375 0.75C12.3613 0.75 13.3072 1.1418 14.0046 1.8392C14.702 2.5366 15.0938 3.48248 15.0938 4.46875C15.0938 6.41731 13.9657 8.50064 11.5609 10.6642C10.4728 11.6424 9.28818 12.5074 8.02522 13.2461C8.02009 13.2488 8.01435 13.2502 8.00854 13.2501L8.00854 13.2499L7.99498 13.25C7.9865 13.2501 7.97815 13.248 7.97076 13.2438L7.96943 13.243C7.80167 13.1473 6.02819 12.1346 4.29382 10.5388C2.52112 8.90773 0.90625 6.77419 0.90625 4.46875C0.90625 3.68825 1.15183 2.92753 1.60819 2.29436C2.06456 1.66118 2.70858 1.18765 3.44903 0.940834C4.18948 0.694018 4.98881 0.686433 5.73381 0.919153C6.47881 1.15187 7.1317 1.6131 7.6 2.2375Z" fill="white" stroke="#999999"/>
                  </svg>

                  {{/vote}}
                  {{vote 'sum' class='vote-sum notranslate'}}
               {{#vote 'down' role='radio' class='vote-down' selected_class='vote-voted'}}
                   <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.38976 3.48336L8.97921 3.89391C8.97921 3.89391 8.36071 3.07328 7.38492 2.62538C7.38492 2.62538 6.05476 2.01481 4.63225 2.35922C4.63225 2.35922 3.20975 2.70363 2.30618 3.85502C2.30618 3.85502 1.40262 5.00641 1.40626 6.46861C1.40626 6.46861 1.40626 9.70741 5.10809 13.0391C5.10809 13.0391 6.23608 14.0542 7.58721 14.964C7.58721 14.964 8.26555 15.4208 8.72517 15.6781C8.89592 15.7738 9.1041 15.7738 9.27485 15.6781C9.27485 15.6781 9.73447 15.4208 10.4128 14.964C10.4128 14.964 11.7639 14.0542 12.8919 13.0391C12.8919 13.0391 16.5938 9.7074 16.5938 6.46927C16.5938 6.46927 16.5953 5.18837 15.8843 4.12287C15.8843 4.12287 15.1734 3.05736 13.9901 2.56698C13.9901 2.56698 12.8068 2.0766 11.5506 2.32691C11.5506 2.32691 10.2944 2.57721 9.38976 3.48336ZM8.26476 9.10836L8.99201 8.38111L7.13976 6.52886C6.92009 6.30919 6.92009 5.95303 7.13976 5.73336L8.17249 4.70063C8.17249 4.70063 7.70245 4.00898 6.91561 3.64781C6.91561 3.64781 5.94015 3.20007 4.89699 3.45263C4.89699 3.45263 3.85382 3.7052 3.1912 4.54955C3.1912 4.54955 2.52859 5.3939 2.53126 6.46861C2.53126 6.46861 2.53126 9.20638 5.86068 12.2028C5.86068 12.2028 6.92995 13.1652 8.21555 14.0308C8.21555 14.0308 8.66131 14.331 9.00001 14.536C9.00001 14.536 9.33871 14.331 9.78447 14.0308C9.78447 14.0308 11.0701 13.1652 12.1393 12.2028C12.1393 12.2028 15.4688 9.20637 15.4688 6.46795C15.4688 6.46795 15.4699 5.52862 14.9485 4.74726C14.9485 4.74726 14.4272 3.96588 13.5594 3.60627C13.5594 3.60627 12.6917 3.24666 11.7705 3.43022C11.7705 3.43022 10.8492 3.61377 10.1853 4.27886L9.32748 5.13663C9.29714 5.17634 9.26165 5.21184 9.22194 5.24217L8.333 6.13111L10.1853 7.98336C10.4049 8.20303 10.4049 8.55919 10.1853 8.77885L9.06026 9.90385C8.95477 10.0093 8.81169 10.0686 8.66251 10.0686C8.51332 10.0686 8.37025 10.0093 8.26476 9.90385C8.15927 9.79837 8.10001 9.65529 8.10001 9.50611C8.10001 9.35692 8.15927 9.21385 8.26476 9.10836Z" fill="#FB761C"/>
                  </svg>
                  {{/vote}} 
                {{/with}}
              </div>

              <div class="post-actions actions">
                {{#post.actions}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16">
                 <path fill="none" stroke="currentColor" d="M13.17 3.07l-1.64.71c-.48-.4-1.03-.72-1.63-.94l-.22-1.79a.511.511 0 00-.4-.44C8.86.54 8.44.5 8 .5c-.44 0-.86.04-1.28.11-.22.04-.38.22-.4.44l-.21 1.79c-.6.22-1.15.54-1.63.94l-1.65-.71a.491.491 0 00-.58.13c-.55.65-.99 1.4-1.29 2.21-.08.21 0 .44.18.58l1.45 1.08a4.91 4.91 0 000 1.87l-1.45 1.08c-.18.13-.25.37-.18.58.3.81.74 1.55 1.28 2.2.14.17.38.22.58.13l1.65-.71c.48.4 1.03.72 1.63.94l.21 1.79c.03.22.19.4.4.44.43.07.85.11 1.29.11.44 0 .86-.04 1.28-.11.22-.04.38-.22.4-.44l.21-1.79c.6-.22 1.15-.54 1.63-.94l1.65.71c.2.09.44.04.58-.13.54-.65.98-1.39 1.28-2.2.08-.21 0-.44-.18-.57L13.4 8.95c.07-.32.1-.63.1-.95s-.03-.63-.09-.94l1.45-1.08c.18-.13.25-.37.18-.58-.3-.81-.74-1.55-1.28-2.2a.51.51 0 00-.59-.13z"/>
                 <circle cx="8" cy="8" r="2.5" fill="none" stroke="currentColor"/>
                </svg>
                {{/post.actions}}
              </div>
            </div>
